.quiz {
  text-align: left;

  &__item {
    margin: 0.5rem 0;
    padding: 0.25rem;
    border: 2px solid transparent;

    &:hover {
      background-color: #999999;
    }

    &--correct {
      border: 2px solid green;
    }

    &--error {
      border: 2px solid red;
    }
  }

  &__item,
  &__radio,
  &__label {
    cursor: pointer;
  }
}
