.header {
  position: sticky;
  top: 0;

  background-color: #3f2d7b;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;

  &__top {
    height: 5rem;
    padding: 0 2rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 480px) {
      padding: 0 0.5rem;
    }
  }

  &__navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 480px) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      font-size: 0.75rem;
    }

    &-item {
      border: 2px solid transparent;
      padding: 1rem;
      cursor: pointer;

      &--active {
        border-top-color: white;
        background-color: lighten(#3f2d7b, 5);
      }
    }
  }

  &__input {
    &--search {
      height: 2rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: 500;

      @media (max-width: 480px) {
        height: 1.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
      }
    }
  }
}
