.question-card {
  width: 12rem;
  height: 16rem;
  margin: 1rem;
  border: 2px solid #221133;
  border-radius: 4px;
  background-color: rgb(246, 171, 199);
  padding: 1rem;
  color: rgb(28, 27, 27);
  cursor: pointer;

  &:hover {
    background-color: #999999;
  }

  &__header {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
