.questions-grid {
  margin: 0;
  background-color: rgb(255, 180, 100);
  padding: 4rem 2rem;
  // till new section above added
  padding-top: 6rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .question-card {
      width: 28%;
  }
}
