.button {
  margin: 1rem;
  border: 2px solid #3f2d7b;
  border-radius: 0.5rem;
  background-color: #3f2d7b;
  padding: 0.875em 1.75em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
